* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.project-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
    flex-direction: row;
}
.project-card{
    flex: 1 1 calc(33.33% - 20px);
    min-width: 220px;
    width: auto;
    background-color: rgb(101, 151, 159);
    border: 1px solid #f6efe9;
    border-radius: 8px;
    padding: 25px;
    text-align: left;
}
.project-type{
    display: inline-block;
    padding: 4px 8px;
    font-size: 14px;
}
.technologies{
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 20px;
}
.project-button{
    display: inline-block;
    background-color: darkslategrey;
    color:antiquewhite;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;

}
.project-button:hover {
    background-color: rgb(71, 42, 3); 
}